<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAH-zWVfPEMY_-A17r2ovgt-6Xyj1uR20k</string>
	<key>GCM_SENDER_ID</key>
	<string>382112883953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fastAppBase</string>
	<key>PROJECT_ID</key>
	<string>primal-analytics-81805</string>
	<key>STORAGE_BUCKET</key>
	<string>primal-analytics-81805.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382112883953:ios:942d291cdfe7e41f11b550</string>
</dict>
</plist>